!!!
%html
  %head
    %title= t('main.title')
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .wrapper
      .navbar.navbar-default.navbar-static-top{:role => 'navigation'}
        .container
          .navbar-heade
            %button.navbar-toggle{:type=>'button', :date=>{:toggle => 'collapse', :target => '.navbar-collapse'}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href=> root_path}= t('main.title')

          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.active


            = render 'shared/user_info'


      #loginWindow.modal.fade{:tabindex=>"-1", :role=>"dialog", :aria => { :labelledby=>"myModalLabel", :hidden=>"true"} }
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{:type=>"button", :data => {:dismiss=>"modal"},  :aria => {:hidden=>"true"}} &times
              %h4.modal-title= t 'user.login'
            /%iframe.modal-body.loginframe{:src => "/login?inline=true", :id=>'loginFrame', :name => 'loginFrame'}
            .modal-body= render 'shared/login_form'

            .modal-footer
              %button.btn.btn-default{:type=>"button", :data => {:dismiss=>"modal" }}= t 'common.cancel'
      .container.main
        - unless @not_found_path
          = render 'shared/welcome'
        = render 'shared/messages'
        = yield
      %footer.vector-footer
        .footer-content
          %ul.footer-info
            %li
              = link_to 'aJIeks', 'https://github.com/fuCtor'
              &copy 2014
    = render 'shared/counter'